body {
    max-width: 900px;
    margin: auto;
}

.listing-item {
    border: 1.5px solid black;
    padding: 20px;
    border-radius: 16px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listings {
    line-height: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;
}

.icon-row {
	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 16px; /* Adjust the text size separately */
}

.icon-row span.material-symbols-outlined {
	font-size: 32px; /* Increase the size of the icons */
	vertical-align: middle; /* Ensure proper alignment with text */
	margin-top: 6px;
}

.left-icons {
	margin-right: 20px;
}

#title {
	text-decoration: underline;
	display: flex;
	justify-content: center;
}