body {
    max-width: 800px;
    margin: auto;
}

.listings {
    padding: 20px;
    border-radius: 16px;
  }

  .listing-item {
    border: 1px solid black;
    padding: 20px;
    border-radius: 16px;
  }