.sign-up-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 100px;

	.inputs {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.input-box {
			display: flex;
			flex-direction: row;

			h3 {
				width: 100px;
			}

			button {
				width: 100%;
				height: 10%;
			}
		}
	}
}