<div class="sign-up-container">
    <div class="inputs">
        <div class="first-last-input">
            <div class="input-box">
                <h4>First Name</h4>
                <div class="input-wrapper">
                    <span class="material-symbols-outlined">person</span>
                    <input type="text" placeholder="First name" required>
                </div>
            </div>
    
            <div class="input-box">
                <h4>Last Name</h4>
                <div class="input-wrapper">
                    <span class="material-symbols-outlined">person</span>
                    <input type="text" placeholder="Last name" required>
                </div>
            </div>
        </div>

        <div class="input-box">
            <h4>Email</h4>
            <div class="input-wrapper">
                <span class="material-symbols-outlined">mail</span>
                <input type="email" placeholder="Email" required>
            </div>
        </div>       

        <div class="input-box">
            <h4>Password</h4>
            <div class="input-wrapper">
                <span class="material-symbols-outlined">key</span>
                <input type="password" placeholder="Password" required>
            </div>
        </div>

        <div class="input-box">
            <button type="submit">Sign Up</button>
        </div>

        <div class="already-account">
            <p>Already have an account?</p>&nbsp;<a routerLink="/login" id="login-text">Login</a>
        </div>
    </div>
</div>
