<div class="sign-up-container">
    <div class="inputs">
        <div class="input-box">
            <h3>First Name</h3>
            <input type="text" placeholder="First name" required>
        </div>

        <div class="input-box">
            <h3>Last Name</h3>
            <input type="text" placeholder="Last name" required>
        </div>

        <div class="input-box">
            <h3>Email</h3>
            <input type="email" placeholder="Email" required>
        </div>

        <div class="input-box">
            <h3>Password</h3>
            <input type="password" placeholder="Password" required>
        </div>

        <div class="input-box">
            <button type="submit">Sign Up</button>
        </div>
    </div>
</div>
