img {
    width: 500px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.info-box {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}