<div class="main-container">
    <div class="logo-container">
        <img src="assets/images/aardpark-bluer.svg">
    </div>

    <div class="custom-input-group">
        <span class="material-symbols-outlined">location_on</span>
        <input type="text" class="form-control" placeholder="Where would you like to park?" [(ngModel)]="searchString">
        <button class="btn-submit" (click)="quickSearch()">→</button>
    </div>

    <div class="info-container">
        <h1>What's AardPark?</h1>
        <p>AardPark is your go-to solution for hassle-free parking in urban areas. We connect drivers with available parking spaces, making it easy to find and reserve a spot before you even leave home. Say goodbye to circling the block and hello to stress-free parking!</p>
    </div>
</div>