<div class="sign-up-container">
  <div class="inputs">
    <div class="input-box">
      <h4>Title</h4>
      <div class="input-wrapper">
        <span class="material-symbols-outlined">title</span>
        <input placeholder="Title" required>
      </div>
    </div>

    <div class="input-box">
      <h4>Location</h4>
      <div class="input-wrapper">
        <span class="material-symbols-outlined">location_on</span>
        <input placeholder="Location" required>
      </div>
    </div>

    <div class="input-box">
      <h4>Description</h4>
      <div class="input-wrapper">
        <span class="material-symbols-outlined">description</span>
        <input placeholder="Description" required>
      </div>
    </div>

    <div class="input-box">
      <h4>Price</h4>
      <div class="input-wrapper">
        <span class="material-symbols-outlined">payments</span>
        <input placeholder="Price (Hourly)" required>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" (click)="createListing()">Make a booking!</button>
    </div>
  </div>
</div>
