<div class="login-container">
    <div class="inputs">
        <div class="input-box">
            <h4>Email</h4>
            <div class="input-wrapper">
                <span class="material-symbols-outlined">mail</span>
                <input type="email" placeholder="Email" required>
            </div>
        </div>       

        <div class="input-box">
            <h4>Password</h4>
            <div class="input-wrapper">
                <span class="material-symbols-outlined">key</span>
                <input type="password" placeholder="Password" required>
            </div>
        </div>

        <div class="input-box">
            <button type="submit">Login</button>
        </div>

        <div class="no-account">
            <p>New to AardPark?</p>
			<a routerLink='/sign-up' id="sign-up-text">Sign Up</a>
        </div>
    </div>
</div>
