.header-container {
	display: flex;
	flex-direction: column;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid grey;
	justify-content: center;
	padding: 0 20px;
	box-sizing: border-box;

	.nav-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		img {
			height: 45px;
			cursor: pointer;
		}
	}

	.navigation-links {
		.sign-up-button {
			padding: 10px;
			background-color: #57abe0;
			border: 1px solid black;
			border-radius: 12px;
		}

		a {
			margin: 0 15px;
			text-decoration: none;
			color: #333;
			font-size: 20px;
		}
	}
}